
.bar-chart {
    display: flex;
    align-items: flex-end;
    gap: 2px;
    height: 100px;
    flex-direction: row;
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 10px;
}

.bar {
    flex: 1;
    min-height: 5px;
    min-width: 3px;
}

@media (max-width: 800px) {
    .bar-chart {
        height: 50px;
        gap: 0;
        padding: 0;
        margin-left: 0;
        margin-right: 0;
    }

    .bar {
        min-width: 2px;
    }
}

.gradient-scale-0 {
    color: var(--scale-green-dim);
}


.gradient-scale--4-background {
    background-color: rgb(0, 0, 255); /* Cold blue */
}

.gradient-scale--3-background {
    background-color: rgb(51, 102, 204);
}

.gradient-scale--2-background {
    background-color: rgb(102, 143, 153);
}

.gradient-scale--1-background {
    background-color: rgb(153, 180, 122);
}

.gradient-scale-0-background {
    background-color: var(--scale-green-dim);
}

.gradient-scale-1 {
    color: var(--scale-lime-dim);
}

.gradient-scale-1-background {
    background-color: var(--scale-lime-dim);
}

.gradient-scale-2 {
    color: var(--scale-yellow-dim);
}

.gradient-scale-2-background {
    background-color: var(--scale-yellow-dim);
}

.gradient-scale-3 {
    color: var(--scale-orange-dim);
}

.gradient-scale-3-background {
    background-color: var(--scale-orange-dim);
}

.gradient-scale-4 {
    color: var(--scale-red-dim);
}

.gradient-scale-4-background {
    background-color: var(--scale-red-dim);
}


div.tier-items {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    box-sizing: border-box;
    gap: 1rem 0.5rem;
    max-width: 100%;
    justify-content: flex-start;
}

/* Tier list images and text */
div.tier-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 2rem;
    margin-right: 0;
    margin-bottom: 0;
    max-width: 100%;
    flex-direction: column;
}

div.tier-item span {
    display: block;
    text-align: center;
    margin-top: 4px;
    font-size: 0.85rem;
    clear: both;
}

div.tier-item img {
    clear: both;
    text-align: center;
}

table.tier-list {
    width: 90%;
    border-collapse: collapse;
    table-layout: auto;
    margin-left: auto;
    margin-right: auto;
}

tr.tier-row {
    min-height: 80px;
    border: 5px solid #000;
}

td.tier-data {
    background-color: rgb(26, 26, 24);
    text-align: left;
    padding: 0.5rem 1rem;
    vertical-align: top;
    width: auto;
}

.rank {
    font-size: 3rem;
    font-weight: bold;
}

th.tier-label {
    align-items: center;
    justify-content: center;
    font-size: 4rem;
    width: 150px;
    min-width: 150px;
    max-width: 150px;
    color: rgb(0, 0, 0);
    height: 100px;
    box-sizing: border-box;
}

.tier-S {
    background-color: rgb(255, 127, 126);
}

.tier-A {
    background-color: rgb(255, 191, 127);
}

.tier-B {
    background-color: rgb(254, 255, 127);
}

.tier-C {
    background-color: rgb(126, 255, 128);
}

.tier-D {
    background-color: rgb(127, 255, 255);
}

.tier-E {
    background-color: rgb(128, 127, 255)
}

.tier-F {
    background-color: rgb(255, 127, 254);
}


@media (max-width: 800px) {
    div.tier-item {
        font-size: 1rem;
    }

    div.tier-item img {
        width: 30px;
        height: 30px;
    }

    div.tier-item span {
        display: none;
    }

    .rank {
        font-size: 2rem;
    }
    tr.tier-row {
        border: 2px solid #000;
    }

    th.tier-label {
        font-size: 2rem;
        width: 70px;
        min-width: 70px;
        max-width: 70px;
        color: rgb(0, 0, 0);
        height: 70px;

    }
}