table.data {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0 0 0.9rem;
    padding: 0;
    box-shadow: var(--tron-glow-medium);
    border: var(--data-grid-table-border);
    table-layout: fixed;
    align-self: stretch;
    border-color: var(--data-grid-color-bright);
}

table.data th {
    background-color: var(--data-background-header-color);
    text-align: center;

    border-top: 2px solid var(--data-grid-color-bright);
    border-bottom: 2px solid var(--data-grid-color-bright);
    border-left: 1px solid var(--data-grid-color-dark);
    border-right: 1px solid var(--data-grid-color-dark);
    padding: 5px;
    height: auto;
}

table.data th.header-divider {
    background-color: var(--data-background-header-color);
    overflow: visible;
    text-align: center;
    white-space: nowrap;
    border-right: 0;
    border-left: 0;
    height: 76px;
}

table.data th.header-divider a {
    font-size: 1.3rem;
}

div.sticky-content {
    background-color: var(--data-background-header-color);
}

table.data td {
    border-top: 2px solid var(--data-grid-color-bright);
    border-bottom: 2px solid var(--data-grid-color-bright);
    border-left: 1px solid var(--data-grid-color-dark);
    border-right: 1px solid var(--data-grid-color-dark);
    vertical-align: top;
    background-color: var(--data-background-color);
    padding: 8px;
    height: auto;
}

td.column-divider, th.column-divider {
}

td.column-divider-soft, th.column-divider-soft {
}

table.data th.sub-header {
    color: var(--data-grid-sub-header-color);

}

/* Order of magnitude tables */
table.magnitude {
    border-collapse: collapse;
    table-layout: auto;
    margin-left: auto;
    margin-right: auto;
}

table.magnitude td, table.magnitude th {
    border: 0;
    padding: 0.001rem 0.25rem;
    margin: 0;
    text-align: right;
}

.table-logo {
    width: 64px;
    height: 64px;
    vertical-align: middle;
    display: inline-block;
    padding-right: 1rem;
    clear: both;
}


/* Control the rendering of data points */
td.number, th.number {
    text-align: right !important;
}

td.text, th.text {
    text-align: left !important;
}

td.fit {
    width: 1% !important;
    white-space: nowrap;
}

td.vcenter, th.vcenter {
    vertical-align: middle !important;
}

td.left, th.left {
    text-align: left !important;
}

td.right, th.right {
    text-align: right !important;
}

td.grouped, th.grouped {
    width: 10%;
    text-align: left !important;
    justify-content: left;
}

table.data caption {
    caption-side: top;
    position: relative;
    top: -10px;
}

/* Rendering of various elements */
.engine-container {
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    justify-content: left;
    text-align: left;
    flex-wrap: wrap;
}

.engine-logo {
    max-width: 64px;
    height: auto;
}

.engine-text {

}

@media (max-width: 400px) {
    .engine-container {
        flex-direction: column;
    }
    .engine-text {
        margin-left: 0;
        margin-top: 8px;
    }

}
@media (max-width: 600px) {
    .big-value {
        visibility: hidden;
        display: none;
    }
    .small-value {
        visibility: visible;
        display: block;
    }
}

@media (min-width: 601px) {
    .big-value {
        visibility: visible;
        display: block;
    }
    .small-value {
        visibility: hidden;
        display: none;
    }
}

@media (max-width: 800px) {
    table.data {
        box-shadow: none;
        border: var(--data-grid-table-border);

    }
    engine-text {
        /*display: none;*/
        font-size: 0.8rem;
    }
    .engine-logo {
        max-width: 40px;
        height: auto;
    }

}