table.data {
    width: 100%;
    max-width: 100%;
    border-collapse: collapse;
    table-layout: auto;
    margin-left: auto;
    margin-right: auto;
    box-shadow: var(--tron-glow-medium);
    border: var(--data-grid-table-border);
    table-layout: fixed;
}


table.data tr {
    background-color: #000;
    border-top: var(--data-grid-border-row);
    border-bottom: var(--data-grid-border-row);
}

table.data td {
    border-left: var(--data-grid-border-column);
    border-right: var(--data-grid-border-column);
    vertical-align: top;
    background-color: var(--data-background);
    text-align: center;
    padding: 5px;
}


table.data th {
    text-align: center;
    background-color: var(--data-header-background);
    border: var(--data-grid-header-border);
    padding: 5px;
}

table.data th.sub-header {
    color: var(--data-grid-sub-header-color);
}

/* Order of magnitude tables */
table.magnitude {
    border-collapse: collapse;
    table-layout: auto;
    margin-left: auto;
    margin-right: auto;
}

table.magnitude td, table.magnitude th {
    border: 0;
    padding: 0.001rem 0.25rem;
    margin: 0;
    text-align: right;
}

.table-logo {
    width: 64px;
    height: 64px;
    vertical-align: middle;
    display: inline-block;
    padding-right: 1rem;
    clear: both;
}


/* Control the rendering of data points */
td.number, th.number {
    text-align: right !important;
}

td.vcenter, th.vcenter {
    vertical-align: middle !important;
}

td.text, th.text {
    text-align: left !important;
}

td.grouped, th.grouped {
    text-align: left !important;
    border-right: var(--data-grid-header-border) !important;
}


/* Tier List */

table.tier-list {
    width: 90%;
    border-collapse: collapse;
    table-layout: auto;
    margin-left: auto;
    margin-right: auto;
}

tr.tier-row {
    min-height: 80px;
    border: 5px solid #000;
}

th.tier-label {
    align-items: center;
    justify-content: center;
    font-size: 4rem;
    width: 150px;
    min-width: 150px;
    max-width: 150px;
    color: rgb(0, 0, 0);
    height: 100px;
    box-sizing: border-box;
}

td.tier-data {
    background-color: rgb(26, 26, 24);
    text-align: left;
    padding: 0.5rem 1rem;
    vertical-align: top;
    width: auto;
}

div.tier-items {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    box-sizing: border-box;
    gap: 1rem 0.5rem;
    max-width: 100%;
    justify-content: flex-start;
}


/* Rendering of various elements */
.engine-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
}

.engine-logo {
    max-width: 64px;
    height: auto;
}

.engine-text {
    margin-left: 8px;
}

@media (max-width: 200px) {
    .engine-container {
        flex-direction: column;
    }

    .engine-text {
        margin-left: 0;
        margin-top: 8px;
    }
}