*, *::before, *::after { box-sizing: border-box; }
html, body, #svelte { height: 100%; }
html { -webkit-text-size-adjust: 100%; }
body { margin: 0; line-height: 1.5; text-rendering: optimizeLegibility; }
